.button {
  background: none;
  outline: none;
  border: none;

  cursor: pointer;
}

.mode-button {
  width: 154px;
  height: 36px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;

  padding: 10px 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--mode-button-background);
  color: var(--mode-button-text);

  cursor: pointer;
}

.button-exchange {
  border: 1px solid #fafafa;
}

.main-button,
.about-button {
  max-width: 37%;
  margin-left: 24px;

  height: 40px;
  border-radius: 30px;

  font-size: 20px;
  font-weight: 500;

  padding: 23px 44px;

  white-space: nowrap;

  text-align: center;

  background-color: #fff;

  border: 1.5px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #000;
}

.application-button {
  width: 33.3%;
  height: 100%;

  color: #000;
  cursor: pointer;

  background-color: none;
  color: #fff;

  border-radius: 30px;

  font-size: 20px;
  font-weight: 500;

  line-height: 16px;

  padding: 20px 10px;
}

.selected-section {
  background-color: #fff;
  color: #000;
}

.about-button {
  margin-left: 0;
}

.register-button {
  margin-top: 40px;

  width: 180px;
  height: 48px;

  padding: 16px;

  background-color: #fafafa;

  border-radius: 25px;

  color: #000;
}
