.side-menu-container {
  background-color: var(--side-menu-background);
  position: fixed;

  width: 376px;
  height: 100vh;

  right: 0;
  top: 0;

  overflow: hidden;
  overflow-y: auto;

  padding: 0 24px;
  padding-bottom: 48px;

  z-index: 999;
}

.menu-items-list {
  padding-left: 0;

  position: relative;
  width: 100%;
}

.side-menu-container::-webkit-scrollbar {
  display: none;
}

.login,
.sign-up {
  font-size: 14px;
}

.login-section {
  width: 127px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-top: 12px;
}

.login {
  color: var(--login);
  text-decoration: none;
}

.sign-up {
  color: var(--sign-up);
  border: 1px solid var(--sign-up);
  border-radius: 14px;
  height: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  padding: 6px 8px;
}

.close-button {
  width: 100%;
  height: 48px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: sticky;

  top: 0;

  z-index: 1000;
  background-color: var(--side-menu-background);

  color: var(--side-menu-close);

  padding-right: 24px;

  cursor: pointer;
}

.mode-buttons {
  width: 378px;
  height: 72px;

  display: flex;
  align-items: center;

  gap: 14px;
}

@media all and (max-width: 750px) {
  .side-menu-container {
    width: 100%;
  }
}

@media all and (max-width: 435px) {
  .side-menu-container {
    padding: 0 20px;
    padding-bottom: 48px;
  }

  .close-button {
    padding-right: 0;
  }
}
